# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\网课学习\imooc\wiki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
